* {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
  background-color: #ccc;
  padding: 10px;
}

.container > img {
  margin-bottom: 40px;
}

.container button {
  margin-bottom: 20px;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: #3c5aa6;
  transition: filter 0.3s;
}

.container button:hover {
  filter: brightness(0.9);
}
.container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container .pokemon {
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0 0 10px 3px #00000010;
}

.pokemon > img {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}

.pokemon .no-profile {
  width: 400px;
  max-width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon .no-profile img {
  width: 100px;
  height: 100px;
}
.pokemon h3 {
  color: #b3b3b3;
  text-align: center;
}

.pokemon .info {
  height: 40px;
  width: 100%;
  display: flex;
}

.pokemon .info > span {
  width: 60%;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.pokemon .types {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.pokemon .types span {
  height: 20px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pokemon .types span:last-child {
  margin-left: 10px;
}

.container .loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
}

.loader img {
  width: 30px;
  animation: rotatePokeball 1s linear infinite;
}

@keyframes rotatePokeball {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
